
.circle1 {
    width: 22px;
    height: 22px;
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
    
  }
  
  .circle1.enlarged1 {
    width: 30px;
    height: 30px;
    background-color: black;
  }
  .circle2{
    width: 22px;
    height: 22px;
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
    margin-left:20px;
  }
  .circle2.enlarged2 {
    width: 30px;
    height: 30px;
    background-color: black;
  }
  .circle3{
    width: 22px;
    height: 22px;
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
    margin-left:20px;
  }
  .circle3.enlarged3 {
    width: 30px;
    height: 30px;
    background-color: black;
  }
  .circle4{
    width: 22px;
    height: 22px;
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
    margin-left:23px;
  }
  .circle4.enlarged4 {
    width: 30px;
    height: 30px;
    background-color: black;
  }
  .circle5{
    width: 22px;
    height: 22px;
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
    margin-left:23px;
  }
  .circle5.enlarged5 {
    width: 30px;
    height: 30px;
    background-color: black;
  }
  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
    background-color: lightgray;
    margin:-2px;
    
  }
  
  .circle.selected {
    width: 33px;
    height: 33px;
    background-color: black;
  }
 
  .circle-container {
    display: flex;
    justify-content: space-between;
  }
  
  