.container{
    width: 80%;
    margin-left: 110px;
    height: 82px;
    margin-top:140px;
    background-color: "#FFFFFF";
    border-width: 2px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0.6, 0.6, 0.6, 0.6);
    @media screen and (max-width: 768px) {
        width: 60%; /* Example adjustment for larger screens */
      }
    
      @media screen and (max-width: 600px) {
        width: 70%; /* Example adjustment for even larger screens */
      }
  }
  .container2{
  height:440px;
  width:79%;
  margin-top:30px;
  margin-left:120px;
   background-color: "#FFFFFF";
  border-width: 1px;
  border-radius: 2px;
  box-shadow: 1px 1px 8px rgba(0.1, 0.6, 0.6, 0.6);
  @media screen and (max-width: 768px) {
    width: 60%; /* Example adjustment for larger screens */
  }

  @media screen and (max-width: 300px) {
    width: 80%; /* Example adjustment for even larger screens */
  }

  }
  .display{
    height:44px;
    width:30%;
    background-color: #EDEDED;
    margin-left:30px;
    /* padding: 10px; */
  }
  .container3{
    display: flex;
    justify-content: flex-start;
    align-items: center; /* You can adjust this if needed */
    
    
  }
  .text{
    padding: 0;
  display: flex;
  flex-direction: row;
  font-size:20px;
  font-weight: 450;
  margin:20px;
  }
  .container4 {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: white;
    
  }
  
  .submit-button {
    position: absolute;
    bottom: 92px;
    right: 300px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px) {
    /* Adjust button position for smaller screens */
    .submit-button {
      bottom: 80px;
      right: 130px;
    }
  }
  @media screen and (max-width: 5088px) {
    /* Adjust button position for smaller screens */
    .submit-button {
      bottom: 60px;
      right: 210px;
    }
  }
  


  